<!DOCTYPE html>
<html lang="en">

<%- include('head', {page: 'Chicken | New Order'}) %>

<body>
  <h1>World Famous Chicken Nuggets</h1>
  <a href="/chickennuggets/order">Cancel</a>
  <form action="/chickennuggets/order" method="POST">
    <input type="text" placeholder="Name" name="Nuggets_for">
    <label>Style:</label>
    <select name="style">
      <option value="mild">Mild</option>
      <option value="medium">Medium</option>
      <option value="spicy">Spicy</option>
      <option value="atomic">Atomic</option>
    </select>
    <label>How many?</label>
    <input type="number" min="6" name="qty">
    <input type="submit" value="Order me some nuggets">
  </form>
  <%- include('javascripts') %>
  </body>

</html>


